@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

:root {
  --bg-primary: #d5dee7f8;
  --bg-card: #ffffffdf;
  --radius: 5px;
  --header-h: 8%;
  --header-m-y: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'LXGW WenKai TC', cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--bg-primary);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main {
  background-color: var(--bg-card);
  width: 98%;
  padding: 15px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
}

header {
  height: 8%;
  max-height: 8%;
}
main {
  margin-bottom: 15px;
  height: calc(100vh - var(--header-h) - calc(var(--header-m-y) * 2));
  max-height: calc(100vh - var(--header-h) - calc(var(--header-m-y) * 2));
}
